@mixin centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chbx-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #F4662A;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background: #FFFFFF;
            border: 1px solid #F4662A;
            box-sizing: border-box;
            border-radius: 5px;
        }
    }

    &:hover input ~ .checkmark {
        //background-color: #ccc;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background: #FFFFFF;
        border: 1px solid #F4662A;
        box-sizing: border-box;
        border-radius: 5px;
    
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    .checkmark:after {
        left: 1px;
        top: 1px;
        width: 24px;
        height: 24px;
        background: url(../img/checked.svg) 0 0 no-repeat;
    }
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #F4662A;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #F4662A;
        }
    }
    &:hover input ~ .checkmark {
        //background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: #fff;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}


.sign-in.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        background-color: #fff;
        padding: 20px 30px 30px;
        border-radius: 16px;
        width: 80%;
        max-width: 450px;

        h1 {
            margin-bottom: 20px;
        }
        .fields .input-wrapper:last-of-type {
            margin-bottom: 25px;
        }
    }
}

.admin.page {
    background-color: #fff;
    transition: transform .3s;
    padding: 60px 60px;
    position: relative;

    nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;

        a {
            margin-right: 25px;

            h1 {
                color: #909EAA;
                transition: font-size .3s, color .3s;
                line-height: 42px;
                font-size: 28px;
                
                &.active {
                    color: #232427;
                    font-size: 32px;
                }
            }
        }
    }

    .content {
        &>.btn {
            max-width: 370px;
            position: relative;
            margin-bottom: 30px;
            cursor: pointer;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                background: url(../img/add.svg) 0 0 no-repeat;
                background-size: contain;
                top: 16px;
                left: 22px;
            }
        }

        $form_width: 768px;

        .admin-form {
            position: fixed;
            height: 100vh;
            width: $form_width;
            background-color: #F3F4F9;
            top: 0;
            right: -$form_width;
            padding: 60px 40px;
            overflow-y: scroll;
            overflow-x: hidden;

            h1 {margin-bottom: 30px;}

            .fields {
                margin-bottom: 40px;

                &>p {margin-bottom: 20px;}

                .checkboxes {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    &.symptoms div {
                        width: 40%;
                        .chbx-container {width: 100%;}
                    }

                    .chbx-container {
                        width: 20%;
                        margin-bottom: 15px;
                    }
                }

                .rec-items {
                    .list-item {
                        width: 100%;
                        background-color: #FFFFFF;
                        border: 1px solid #232427;
                        border-radius: 16px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;
                        position: relative;
                        margin-bottom: 15px;

                        .btn-close {
                            border: 0;
                            background: url(../img/close.svg) 0 0 no-repeat;
                            background-size: contain;
                            width: 24px;
                            height: 24px;
                            outline: none;
                        }
                    }
                }

                .rec-items-form {
                    .actions {
                        display: flex;
                        flex-direction: row;

                        .btn  {
                            height: 50px;
                            &:first-child {margin-right: 20px;}
                        }
                    }
                }

                .input-wrapper input[type=text] {margin-bottom: 0;}
            }

            &>.actions {
                display: flex;
                flex-direction: row;

                .btn {
                    height: 60px;
                    &:first-of-type {margin-right: 20px;}
                }
            }

            .rec-items-form {
                .input-wrapper {margin-bottom: 30px;}
            }

            .found-rec {
                &>.input-wrapper {
                    position: relative;
                    margin-bottom: 20px;

                    .found-rec-list {
                        margin-top: 10px;
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        padding: 20px;
                        border-radius: 16px;
                        flex-direction: column;
                        width: 100%;
                        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

                        &.active {display: flex;}

                        &>div {
                            &:not(:last-of-type) {
                                margin-bottom: 20px;
                            }

                            .chbx-container {
                                .checkmark {
                                    left: 5px;
                                }
                            }
                        }
                    }
                }

                .diagnoses-links {
                    
                    &__header {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 15px;
    
                        p {
                            font-size: 16px;
                            color: #909EAA;
    
                            &:first-of-type {
                                width: 200px;
                                margin-left: 80px;
                            }
                        }
                    }
                    &__item {
                        background-color: #fff;
                        border-radius: 16px;
                        padding: 0px 0px 25px;
                        max-height: 75px;
                        overflow: hidden;
                        transition: max-height .3s;
                        margin-bottom: 10px;
                        cursor: pointer;
    
                        &-header {
                            height: 75px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 20px;
    
                            .circle {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                background-color: #fff;
                                color: #232427;
                                text-transform: uppercase;
                                @include centered-flex();
                                box-shadow: 0px 2px 8px rgba(86, 92, 179, 0.25);
                            }
    
                            h2 { margin-left: 25px; width: 200px; }
    
                            button:first-of-type {margin-left: auto;}
                            button:not(:first-of-type) {margin-left: 25px;}
                            button {
                                width: 24px;
                                height: 24px;
                                border: 0;
                                cursor: pointer;
                                outline: none;
    
                                &.btn-close {
                                    background: url(../img/close.svg) 0 0 no-repeat;
                                    background-size: contain;
                                }
                                &.btn-info {
                                    background: url(../img/info.svg) 0 0 no-repeat;
                                    background-size: contain;
                                }
                                &.btn-expand {
                                    background: url(../img/dropdown-arrow.svg) 0 0 no-repeat;
                                    background-size: contain;
                                    transition: transform .3s;
                                }
                            }
                        }
                        &-body {
                            margin: 0 20px;
                            &>div {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin-bottom: 15px;
    
                                input {
                                    width: 50px;
                                    height: 30px;
                                    border-radius: 16px;
                                    border: 1px solid #232427;
                                    color: #232427;
                                    font-size: 14px;
                                    outline: none;
                                    text-align: center;
                                }
                                p {
                                    margin-left: 15px;
                                    max-width: 470px;
                                }
                            }
                            .btn {max-width: 150px; margin-top: 10px;}
                        }
    
                        &.active {
                            max-height: 300px;
    
                            .diagnoses-links__item-header .btn-expand {
                                transform: rotate(180deg);
                            }
                        }

                        &>p {margin: 25px 20px 0;}
                    }
                }
            }

            .radiobuttons {
                display: flex;
                flex-direction: row;
                
                .radio-container {margin-right: 40px;}
            }
        }

        .table-contaiter {
            overflow-y: scroll;
            max-height: calc(100vh - 120px - 67px - 80px - 80px);
            padding-right: 40px;
        }

        .empty-state-container {
            width: 840px;
            height: 600px;
            background: url(../img/illustrations/empty-state.jpg) 0 0 no-repeat;
            background-size: cover;
            border-radius: 32px;
            padding: 60px;

            h1 { text-align: center; margin-bottom: 20px;}
            .btn, h1 {max-width: 340px;}
        }
    }

    .user-bar {
        position: fixed;
        bottom: 40px;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 0 60px;
        background-color: #fff;
        height: 80px;

        .user-info {
            display: flex;
            flex-direction: row;
            align-items: center;

            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0px 2px 8px rgba(86, 92, 179, 0.25);
                @include centered-flex;
                font-size: 18px;
                margin-right: 15px;
            }
            span {
                font-size: 14px;
                color: #909EAA;
            }
        }

        button.exit-btn {
            border: 0;
            position: relative;
            background-color: rgba(0,0,0,0);
            color: #909EAA;
            font-size: 18px;
            outline: none;
            height: 50px;
            cursor: pointer;

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: -32px;
                bottom: 14px;
                width: 32px;
                height: 32px;
                background: url(../img/exit.svg) 0 0 no-repeat;
                background-size: contain;
            }
        }
    }

    table.admin-table {
        width: 100%;
        border-collapse: collapse;
        margin-right: 20px;

        tr {
            cursor: pointer;
            &:nth-of-type(n+1) {
                border-radius: 16px;

                &:hover td {
                    background-color: #edf3f6;
                    border: 0;
                }
                &:hover ~ tr td {
                    border: 0;
                }
            }
            th {
                color: #909EAA;
                font-size: 18px;
                padding-bottom: 25px;
                text-align: left;
            }
            td {
                height: 90px;
                transition: background-color .3s;
                border-top: 1px solid #F3F4F9;

                .circle {
                    width: 50px;
                    height: 50px;
                    @include centered-flex();
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0px 2px 8px rgba(86, 92, 179, 0.25);
                    margin-left: 25px;
                }

                &:first-child {
                    border-radius: 16px 0 0 16px;
                    width: 100px;
                }
                &:last-child {
                    border-radius: 0 16px 16px 0;
                }

                @mixin status {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-family: "Roboto Bold";
                }

                &[cell-type=status_empty] {
                    color: #909EAA;
                    @include status();
                }
                &[cell-type=status_success] {
                    color: #27AE60;
                    @include status();
                }
                &[cell-type=status_warning] {
                    color: #D6C467;
                    @include status();
                }
            }
        }
    }
}

.overlay.overlay-admin-form {
    background-color: rgba(255, 255, 255, .6);
    cursor: pointer;
}

@media only screen and (min-width: 1440px) {
    .admin.page {
        padding: 60px calc(50% - 650px);

        .user-bar {
            padding: 0 calc(50% - 650px);
        }
    }
}