@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}


#style-1::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0);
}

#style-1::-webkit-scrollbar {
	width: 7px;
}

#style-1::-webkit-scrollbar-thumb
{
	background-color: #E1E4E7;
    border-radius: 7px;
}


body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(237, 243, 246);
}
#root {
    overflow: hidden;
}
* {
    font-family: "Roboto Regular";
    box-sizing: border-box;
    color: #232427;
    scroll-behavior: smooth;
}
a { text-decoration: none; }

h1, h2, p {margin: 0;}

h1 {
    font-size: 28px;
    font-family: 'Roboto Bold';
}
h2 {
    font-size: 16px;
}
p {
    font-size: 12px;
    font-family: "Roboto Light";
}
.light {
    font-family: "Roboto Light";
}
.regular {
    font-family: "Roboto Regular";
}
.medium {
    font-family: "Roboto Medium";
}
.bold {
    font-family: "Roboto Bold";
}

.btn {
    width: 100%;
    border-radius: 6px;
    height: 50px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: background-color .3s, color .3s;

    &[data-type=filled] {
        background-color: #F4662A;
        //box-shadow: 0px 2px 8px rgba(36, 103, 128, 0.25);
        color: #fff;
        border: 0;
        font-size: 16px;
        &:hover {
            background-color: #ED6429;
        }
    }
    &[data-type=ghost] {
        background-color: #fff;
        color: #F4662A;
        border: 1px solid #F4662A;
        font-size: 14px;
        height: 40px;

        &:hover {
            background-color: rgba(244, 102, 42, .3);
        }
    }
}

.input-wrapper, .checkboxes {
    position: relative;
    margin-bottom: 15px;

    input {
        width: 100%;
        height: 50px;
        background-color: #F3F4F9;
        border-radius: 6px;
        padding-left: 20px;
        outline: none;
        color: #232427;
        border: 1px solid #909EAA;
        box-sizing: border-box;

        &::placeholder {
            color: #909EAA;
            font-size: 14px;
            font-family: "Roboto Regular";
        }

        &:focus {
            background-color: #fff;
            border: 1px solid #65B8EF;
            box-shadow: 0 0 0 1px #65B8EF;
        }
    }
    &>span {
        display: block;
        position: absolute;
        left: 20px;
        bottom: -20px;
        color: #D23737;
        font-size: 12px;
    }
    &.error {
        margin-bottom: 30px;
        input {
            border-color: #D23737;
        }
    }
}

.page {
    height: 100vh;
}

.modal {
    display: none;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    z-index: 1001;
    transition: bottom .3s;
    bottom: -100%;
    width: 100%;

    &.active {
        bottom: 0;
    }
}


@media only screen and (min-width: 768px) {
    h1 {font-size: 32px;}
    h2 {font-size: 20px;}
    p {font-size: 16px;}
}