@keyframes show-overlay {
    0%   { opacity: 0; display: none; }
    100% { opacity: 1; display: block; }
}

.page.patient {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.progress {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 16px 16px;

    h2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        i {
            width: 20px;
            height: 20px;
            background: url(../img/info.svg) 0 0 no-repeat;
            background-size: contain;
        }
    }

    &__bar {
        width: 100%;
        height: 30px;
        background-color: #F3F4F9;
        border-radius: 16px;

        &-fill {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #F3F4F9;
            font-family: 'Roboto Bold';
            font-size: 14px;
            height: 100%;
            border-radius: 16px;
            min-width: 30px;
            background-color: #F4662A;
            transition: width .3s ease;
        }
    }
}

$side_nav_h: 50px;

.side-nav {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $side_nav_h;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left-opener, &__right-opener {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 20px;
        cursor: pointer;
    }
    &__left-opener { 
        background: url(../img/burger.svg) 0 0 no-repeat; 
    }
    &__right-opener {
        background: url(../img/dots-info.svg) 0 0 no-repeat;
    }
}

.board {
    position: fixed;
    height: 100vh;
    width: 85%;
    background-color: #fff;
    top: 0;
    transition: left .3s, right .3s;
    z-index: 10;

    &.left-menu {
        left: -85%;
        padding: 30px 40px;
        max-width: 400px;

        .btn { 
            margin-bottom: 20px; 
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background: url(../img/add.svg) 0 0 no-repeat;
                background-size: contain;
                position: absolute;
                top: calc(50% - 8px);
                left: 20px;
            }
        }
        h1 { margin-bottom: 30px; }

        .test-item {
            display: flex;
            flex-direction: row;
            margin: 0px -20px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color .3s;

            .gender-circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0px 2px 8px rgba(86, 92, 179, 0.25);
                color: #F4662A;
                text-transform: uppercase;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;

                h2 {margin-bottom: 5px;}
                p { color: #95A6B3; }
            }

            &.active {
                background-color: rgb(237, 243, 246);
                border-radius: 16px;
            }
        }

        &.active { left: 0; }
        button.close { right: 20px; cursor: pointer; }
    }

    &.right-info {
        right: -85%;
        padding: 20px;

        h2, p {margin-bottom: 10px;}
        .card-container {
            margin-bottom: 30px;
            max-height: 60vh;
            overflow-y: scroll;

            .btn {margin-top: 20px;}
            .recommendation {
                margin-bottom: 25px;
                p {margin-bottom: 10px;}
            }
            .actions {
                display: flex;
                flex-direction: row;

                .btn:first-of-type {margin-right: 10px;}
            }
        }

        &.active { right: 0; }
        button.close { left: 20px; }
    }

    button.close {
        width: 24px;
        height: 24px;
        background: url(../img/close.svg) 0 0 no-repeat;
        border: 0;
        outline: none;
        background-size: contain;
        position: absolute;
        bottom: 13px;
        cursor: pointer;
    }
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    display: none;
    animation: show-overlay .3s;
    
    &.active {
        display: block;
    }
}

.test {
    padding: 120px 20px 0px;
    margin-bottom: $side_nav_h;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .overflow-wrapper {
        height: 100%;

        &.empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {text-align: center; line-height: 22px;}
            a {
                cursor: pointer;
                &:hover { text-decoration: underline; }
            }
        }
    }

    .questions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100%;

        &__item {
            background: #FFFFFF;
            border-radius: 16px 16px 16px 0px;
            padding: 15px 20px 20px;
            margin-bottom: 20px;

            h2 {margin-bottom: 10px;}
            span {
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                border: 1px solid #F4662A;
                box-sizing: border-box;
                border-radius: 16px;
                font-size: 12px;
                color: #F4662A;
                padding: 0 22px;
                display: inline-flex;
                text-transform: uppercase;
            }
        }

        .current {
            margin-bottom: 20px;
            .questions__item span {
                color: #95A6B3;
                border-color: #95A6B3;
            }

            .actions {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .btn {
                    margin-right: 10px;
                    &:last-of-type {margin: 0;}

                    &.gender, &.symptom {
                        width: calc(50% - 5px);
                    }
                    &.age, &.other {
                        width: calc(20% - 8px);
                        margin-bottom: 10px;

                        &:nth-of-type(5n) {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.modal.body-part-modal {
    h2 {margin-bottom: 10px;}
    p {margin-bottom: 20px;}

    .symptoms {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        span {
            font-size: 14px;
            color: #F4662A;
            cursor: pointer;
            margin-bottom: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .actions {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 10px;
            &:last-of-type {margin: 0;}
        }
    }
}

@media only screen and (min-width: 768px) {

    .progress {display: none;}

    .test {
        width: 50%;
        border-right: 1px solid #E1E4E7;
        padding-top: 20px;

        .questions__item {
            padding: 25px 30px 30px;

            h2 {margin-bottom: 20px;}
        }
    }

    .side-nav {
        &__right-opener {display: none;}
    }

    .board {
        &.right-info {
            position: relative;
            width: 50%;
            right: 0;
            background-color: inherit;
            display: flex;
            flex-direction: column;
            height: initial;
            margin-bottom: $side_nav_h;
            z-index: 0;

            button.close {display: none;}

            .card-container {
                background-color: #fff;
                border-radius: 16px;
                padding: 20px 25px 25px;
            }
        }

        &.left-menu {
            padding: 30px 50px;

            .btn {margin-bottom: 40px;}
            h1 {margin-bottom: 20px;}

            .test-item {
                padding: 20px 25px;

                .gender-circle {
                    height: 60px;
                    min-width: 60px;
                    font-size: 14px;
                }

                .content {
                    p {font-size: 14px;}
                }
            }
        }
    }

    .modal.body-part-modal {
        padding: 30px calc(50% - 250px);
    }
}

@media only screen and (min-width: 1366px) {
    .side-nav {display: none;}

    .test {
        min-width: 33.33%;
        margin-bottom: 0;
        padding: 30px 40px;
    }

    .board {
        z-index: 0;

        &.right-info, &.left-menu {
            margin-bottom: 0;
        }

        &.right-info {
            width: 50%;
            padding: 30px 40px;

            .card-container {
                padding: 20px 30px 30px;

                h2, p {margin-bottom: 20px;}
            }
        }

        &.left-menu {
            position: relative;
            left: 0;

            button.close {display: none;}
        }
    }
}